exporters:
  #jaeger:
  #  endpoint: insight-jaeger-collector.insight-system.svc.cluster.local:14250
  #  tls:
  #    insecure: true
  logging: {}
  prometheus:
    endpoint: 0.0.0.0:8889
extensions:
  health_check: {}
  #memory_ballast: {}
  pprof:
    endpoint: :1888
  #zpages:
  #  endpoint: :55679
processors:
  attributes/insert:
    actions:
      - action: insert
        key: k8s.cluster.id
        value: "fhd9yugfihso"
  batch: {}
  #memory_limiter:
  #  check_interval: 5s
  #  limit_mib: 1638
  #  spike_limit_mib: 512
  spanmetrics:
    metrics_exporter: prometheus
  service_graph:
    metrics_exporter: prometheus
    latency_histogram_buckets: [ 1,2,3,4,5 ]
    dimensions:
      - k8s.cluster.id
      - k8s.namespace.name
    store:
      ttl: 1s
      max_items: 10
receivers:
  jaeger:
    protocols:
      grpc:
        endpoint: 0.0.0.0:14250
      thrift_compact:
        endpoint: 0.0.0.0:6831
      thrift_http:
        endpoint: 0.0.0.0:14268
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        cors:
          allowed_origins:
            - http://*
        endpoint: 0.0.0.0:4318
    # Dummy receiver that's never used, because a pipeline is required to have one.
  otlp/spanmetrics:
    protocols:
      grpc:
        endpoint: localhost:65535
  prometheus:
    config:
      scrape_configs:
        - job_name: opentelemetry-collector
          scrape_interval: 10s
          static_configs:
            - targets:
                - ${MY_POD_IP}:8888
  zipkin:
    endpoint: 0.0.0.0:9411
service:
  extensions:
    - pprof
    #- zpages
    - health_check
    #- memory_ballast
  pipelines:
    logs:
      exporters:
        - logging
      processors:
        #- memory_limiter
        - batch
      receivers:
        - otlp
    metrics:
      exporters:
        - logging
      processors:
        #- memory_limiter
        - batch
      receivers:
        - otlp
        - otlp/spanmetrics
        - prometheus
    metrics/spanmetrics:
      exporters:
        - logging
        - prometheus
      receivers:
        - otlp/spanmetrics
    traces:
      exporters:
        - logging
        #- jaeger
      processors:
        #- memory_limiter
        - spanmetrics
        - attributes/insert
        - service_graph
        - batch
      receivers:
        - otlp
        - zipkin
        - jaeger
  telemetry:
    metrics:
      address: 0.0.0.0:8888
